h1, h2, h3, h4, h5, h6 {
	color: $blue !important;
}

// icon border
.vc_icon_element-inner.vc_icon_element-color-custom.vc_icon_element-have-style-inner.vc_icon_element-size-xs.vc_icon_element-style-boxed-outline.vc_icon_element-outline.vc_icon_element-background-color-custom {
	width: 1.2em !important;
	height: 1.2em !important;
	transform: rotate(45deg)!important;
	.vc_icon_element-icon.fa.fa-circle {
		font-size: 1em!important;
	}
}

.img-caption {
	p {
		color: $blue;
		span {
			font-style: italic;
		}
	}
}

// heading
h2 {
	font-size: 4em!important;
	line-height: 1!important;
	letter-spacing: .1em!important;
	@include desktop {
		font-size: 8em!important;
	}
}
