h1, h2, h3, h4, h5, h6 {
	color: $blue !important;
}

// icon border
.separator {
	.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-xs.vc_icon_element-have-style-inner {
		width: 1.2em !important;
		height: 1.2em !important;
	}
	.vc_icon_element {
		.vc_icon_element-inner {
			transform: rotate(45deg)!important;
			.vc_icon_element-icon.fa.fa-circle {
				font-size: 1em!important;
			}
		}
	}
}
.separator-white {
	h4 {
		color: $white!important;
	}
}

.img-caption {
	p {
		color: $blue;
		span {
			font-style: italic;
		}
	}
}

// heading
h2 {
	font-size: 2em!important;
	line-height: 1!important;
	letter-spacing: .1em!important;
	@media (min-width: 360px) {
	  font-size: 3em!important;
	}
	@media (min-width: 600px) {
	  font-size: 4em!important;
	}
	@include desktop {
		font-size: 8em!important;
	}
}

.oficyna-button {
	a {
		border: 1px solid $blue !important;
		background-image: none !important;
		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			top: -5px;
			right: -5px;
			width: 100%;
			height: 100%;
			background: $white;
			border: 1px solid $blue;
		}
		&:hover {
			color: $white !important;
			background: $blue !important;
			background-image: none !important;
			text-decoration: underline !important;
			&::after {
				background: $rose;
			}
		}
	}
}

.vc_general.vc_pagination.vc_pagination-style-outline.vc_pagination-shape-round.vc_pagination-color-blue {
	a {
		border-color: $blue !important;
	}
	.vc_active {
		a {
			background-color: $blue !important;
		}
	}
}
