h1, h2, h3, h4, h5, h6 {
	color: $blue !important;
}
a {
	cursor: pointer !important;
	&:hover {
		color: $black !important;
	}
}

a, button, input, select {
	position: relative;
	z-index: 2;
}
//hero section
.hero-section {
	z-index: 2;
}
// icon border
.separator {
	* {
		letter-spacing: $standardKerning;
	}
	> div {
		margin-bottom: 0 !important;
	}
	.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-xs.vc_icon_element-have-style-inner {
		width: 20px !important;
		height: 20px !important;
		margin-left: 5px;
		span {
			left: 11px !important;
			top: 11px !important;
			@include netbook {
				top: 10px !important;
			}
		}
	}
	.vc_icon_element {
		.vc_icon_element-inner {
			transform: rotate(45deg)!important;
			.vc_icon_element-icon.fa.fa-circle {
				font-size: 14px!important;
			}
		}
	}
}
.vc_tta-panel-body {
	.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-xs.vc_icon_element-have-style-inner {
		margin-left: 0;
	}
}
.separator-white {
	h4 {
		color: $white!important;
	}
}

.img-caption {
	p {
		color: $blue;
		span {
			font-style: italic;
		}
	}
}
// heading
h2, .wpb_willow_big_title {
	font-size: 2em!important;
	line-height: 1!important;
	letter-spacing: .1em!important;
	@media (min-width: 360px) {
	  font-size: 3em!important;
	}
	@media (min-width: 600px) {
	  font-size: 4em!important;
	}
	@include desktop {
		font-size: 6em!important;
	}
}
#title {
	padding: 60px 0 0 0 !important;
	.wpb_willow_big_title {
		position: relative;
    	z-index: 1;
		margin-bottom: -25px;
		@include tablet {
			margin-bottom: -35px;
		}
		@include desktop {
			margin-bottom: -60px;
		}
		span {
			border: 0 !important;
		}
	}
}

.oficyna-button {
	position: relative;
	z-index: 1;
	> * {
		position: relative;
		min-width: 250px;
		height: 50px;
		padding: 20px 10px 20px 0 !important;
		border: 1px solid $blue !important;
		background-image: none !important;
		background-color: $lightGrey !important;
		transition: all .2s ease-in-out;
		font-family: $headingFont !important;
		letter-spacing: $standardKerning;
		text-transform: uppercase;
		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			top: 5px;
			right: 5px;
			min-width: 250px;
			height: 50px;
			background-color: $white;
			border: 1px solid $blue;
		}
		&:hover {
			color: $white !important;
			background-color: $rose !important;
			background-image: none !important;
			text-decoration: underline !important;
			&::after {
				background: $blue;
			}
		}
	}
}

.oficyna-button.negative {
	> * {
		padding: 0 !important;
		background-color: $white !important;
		[type=submit] {
			letter-spacing: $standardKerning;
		}
		&::after {
			top: -5px;
			right: -5px;
			background-color: $lightGrey !important;
		}
		&:hover {
			border: 1px solid $rose !important;
			background-color: $blue !important;
			&::after {
				border: 1px solid $blue !important;
				background-color: $rose !important;
			}
		}
	}
}

.simple-button {
	a {
		padding: 0 !important;
		text-decoration: underline !important;
		color: $blue !important;
		background-color: transparent!important;
		background-image: none !important;
		&:hover {
			color: $black !important;
		}
	}
}

.caption {
    em, strong {
        font-size: .8em !important;
        line-height: .5 !important;
    }
}

.wpb_single_image + .caption,
.wpb_gmaps_widget + .caption {
	margin-top: -35px;
}

.vc_general.vc_pagination.vc_pagination-style-outline.vc_pagination-shape-round.vc_pagination-color-blue {
	a {
		border-color: $blue !important;
	}
	.vc_active {
		a {
			background-color: $blue !important;
		}
	}
}

.newsletter-wrapper {
	color: $white !important;
	@include tablet {
		display: block;
		width: 75%;
		margin: auto;
	}
	h3 {
		font-family: $mainFontBold !important;
		font-weight: 400 !important;
	}
	h3, p {
		text-align: center;
		color: $white !important;
	}
	p {
		padding-bottom: 50px;
		color: transparentize($white, .7) !important;
		@include tablet {
			display: block;
			width: 60%;
			margin: auto;
		}
	}
	h5 {
		padding-top: 50px;
		font-size: 13px;
		letter-spacing: $smallKerning;
		text-align: center;
		color: transparentize($white, .7) !important;
	}
}

.newsletter-form {
	display: block;

	@include netbook {
		display: block;
		width: 650px;
		margin: auto;

		.message_error {
			margin-left: 10px;
		}
		.message_success {
			display: block;
			text-align: center;
		}
	}


	form > div {
		width: 260px;
		height: 50px;
		margin: 20px auto !important;

		input {
			padding-left: 15px !important;
			font-size: 14px !important;
			font-family: $mainFontBold !important;
			letter-spacing: $smallKerning;
		}

		@include netbook {
			width: 365px;
			margin: 5px !important;
			display: inline-block;
		}
	}

	form > p {
		z-index: 1;
		position: relative;
		height: 50px;
		border: 1px solid $blue !important;
		background-image: none !important;
		transition: all .2s ease-in-out;
		text-transform: uppercase;

		width: 260px;
		height: 50px;
		margin: 20px auto !important;
		padding: 0 !important;
		background-color: $white !important;

		button {
			width: 100% !important;
			height: 100% !important;
			border-radius: 0 !important;
			padding-left: 15px;
			border: 1px solid $blue !important;
			font-size: 14px !important;
			font-family: $mainFontBold !important;
			letter-spacing: $smallKerning;
			transition: all .2s ease-in-out;
			cursor: pointer;
		}
		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			top: -5px;
			right: -5px;
			min-width: 250px;
			height: 50px;
			background-color: $lightGrey !important;
			border: 1px solid $blue;
		}
		&:hover {
			button {
				transition: all .2s ease-in-out;
				color: $white !important;
				background-image: none !important;
				text-decoration: underline !important;
				border: 1px solid $rose !important;
				background-color: $blue !important;
			}
			&::after {
				border: 1px solid $blue !important;
				background-color: $rose !important;
			}
		}

		@include netbook {
			margin: 5px;
			display: inline-block;
		}
	}

	input {
		width: 100%;
		height: 100% !important;
		border: 0 !important;
		background-color: darken($blue, 10%);
		color: $white !important;

		&:nth-of-type(1) {
			padding-left: 15px;
			font-size: 14px !important;
			font-family: $mainFontBold !important;
			letter-spacing: $smallKerning;
		}
	}

	[type="submit"] {
		background-color: transparent;
		color: $blue !important;
		&:hover {
			color: $white !important;
			text-decoration: underline !important;
		}
	}
}


#go-up {
	position: fixed;
	z-index: 9999;
	top: 50%;
	right: -30px;
	transform: rotate(90deg);
	background-color: transparent;
	border: 0;
	color: $blue;
	text-decoration: underline;
	transition: color 1s;
	font-family: $headingFont !important;
	letter-spacing: $standardKerning;

	[lang="en-GB"] & {
		right: 0;
	}

	&:hover {
		color: $black;
	}
}

.blue-text {
	color: $blue !important;
}

.white-text {
	color: $white !important;
}

.cover-right {
	.section-background {
		background-position: center right !important;
	}
}

.mobile-bg {
	position: relative;
	z-index: -1;
	>.container {
		background-color: rgba($white, .7);
		@include tablet {
			background-color: transparent;
		};
	}
}
.cut-top {
	h2 {
		position: relative;
		top: -40px;
		@include tablet {
			top: -50px;
		}
		@include desktop {
			top: -80px;
		}
	}
}
.uppercase {
	text-transform: uppercase;
}
.link-text {
	a {
		text-decoration: underline !important;
		font-weight: 400;
		&:hover {
			color: $black;
		}
	}
}

.lines-container {
	position: fixed !important;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	.lines {
		height: 100vh;
		border-left: 1px solid transparentize($grey, 0.7);
		border-right: 1px solid transparentize($grey, 0.7);
	}
}

.grey-bg {
	background-color: #edeef0 !important;
}

.video-container {
	position: relative;
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.screen-reader-text {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.alignnone {
	margin: 5px 20px 5px 0 !important;
}

.wpb_row {
	li {
		font-size: 1.4em !important;
	    line-height: 1.5 !important;
	}
}

.page-not-found {
	>* {
		margin-bottom: 30px;
	}
	img {
		background-color: $white;
	}
}
