//scroll down button
.btn-hero-default {
	background-color: transparent !important;
	font-family: $headingFont !important;
	font-size: 18px !important;
	color: $blue !important;
	text-decoration: underline;
	&:hover {
		color: $black !important;
		text-decoration: underline !important;
	}
}

//pre-loader bar color
#jpreOverlay #jpreLoader #jpreBar{
	background: $blue;
}

//menu button on mobile
.navbar-header {
	position: relative;
	.menu-mobile {
		position: absolute !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 120px;
		margin: auto !important;
		background-color: transparent !important;
		border: 0 !important;
		color: $blue !important;
		transition: color 1s;
		.menu-mobile-text {
			font-size: 20px;
			text-decoration: underline;
		}
		.glyphicon {
			margin-left: 10px;
			font-size: 16px;
			transition: transform 1s;
		}
	}
}

//menu elements
#header {
	top: 0 !important;
}
.nav {
	position: relative;
	display: block;
	justify-content: space-between;
	float: none !important;
	@include netbook {
		display: flex;
	}
	li {
		transition: color 1s;
		a {
			color: $blue !important;
			font-family: $headingFont;

			@include netbook {
				padding: 3px 0 !important;
			}

			&:hover {
				color: $black !important;
			}
			.glyphicon {
				margin-left: 5px;
				font-size: 10px;
				transition: transform 1s;
			}
		}
	}

	// language item
	li.lang-item {
		position: absolute;
		top: 0;
		right: 0;

		a {
			width: 47px;
			height: 47px;
			padding: 10px 15px 3px !important;
			vertical-align: middle;
			background-color: $blue;
			color: $rose !important;
			border-radius: 50%;
			border: 1px solid $blue;
			transition: 1s;

			@include netbook {
				transform: translateY(-5px);
			}

			&:hover {
				background-color: $white;
				color: $black !important;
				text-decoration: none!important;
				transition: 1s;
			}
		}
	}
}

// menu hover
.sub-menu {
	@include netbook {
		top: 100px;
		width: 100vw;
		padding-bottom: 50px !important;
		background-color: $white !important;
		border: 0 !important;
		box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.09 ) !important;
		a {
			display: inline !important;
			padding: 5px 15px !important;
			&:hover {
				text-decoration: underline !important;
			}
		}
	}
}


.floating {
	.sub-menu {
		@include netbook {
			top: 80px;
		}
	}
}

li.sfHover {
	> a {
		color: $black !important;
		text-decoration: underline !important;
	}
}

.navbar-toggle.menu-mobile.accordion-active {
	color: $black !important;
	.glyphicon {
		transform: rotate(-180deg);
	}
}

.accordion-active {
	color: $black !important;
	.glyphicon {
		transform: rotate(-180deg);
	}
}
