#content {
	width: 100%;
	padding: 0;
}

.about-intro {
	h3 {
		margin: 0 0 1.5em 0 !important;
	}
	p {
		font-size: 1.5em;
    	line-height: 1.5;
		@include netbook {
			width: 75%;
		}
		@include desktop {
			width: 55%;
		}
	}
}
.img-text-cover {
	margin: 75% 0 0 0;
	@include tablet {
		margin: 0 0 35px 0;
	}
	div {
		p:last-of-type {
			position: absolute;
		    top: 0;
			@media (min-width: 400px) and (max-width: #{$small - 1px}) {
		      top: 15%;
		    }
			@include tablet {
				top: -155px;
				right: 0;
				width: 338px;
			}
			@include netbook {
				width: 448;
			}
			@include desktop {
				top: 0;
				right: 0;
				bottom: 30%;
				left: 0;
				width: 50%;
				height: 100px;
				margin: auto !important;
			}
		}
	}
}

.offer-module {
	hr {
		width: 70px !important;
		margin-left: 0 !important;
		border-top: 1px solid $blue !important;
	}
	&:hover {
		cursor: pointer;
	}
	&:hover span {
		color: $black !important;
	}
	&:hover	hr {
		border-top: 1px solid $black !important;
	}
}
.offer-module-spacer {
	@include tablet {
		padding-top: 118%;
	}
	@include netbook {
		padding-top: 75%;
	}
	@include desktop {
		padding-top: 60%;
	}
}
.offer-module-img {
	@include tablet {
		position: relative;
		top: -50px;
		left: -100px;
	}
	@include netbook {
		top: -75px;
		left: -100px;
	}
	@include desktop {
		left: -200px;
	}
	.offer-inner-module-img {
		position: absolute;
		top: -600px;
		left: 30%;
		right: 30%;
		@media (min-width: 500px) {
			left: 38%;
	    	right: 38%;
		}
		@include tablet {
			top: 0;
			left: 0;
			right: auto;
		}
	}
}

.latest-post {
	@include tablet {
		height: 500px !important;
	}
	@include netbook {
		height: 370px !important;
	}
	.vc_gitem-row-position-top {
		z-index: 1;
	}
	.vc_gitem-row-position-middle {
		top: 30% !important;
		h3 {
			@include tablet {
				font-size: 22px !important;
			}
			@include netbook {
				font-size: 24px !important;
			}
		}
	}
	.latest-post-header {
		width: 50%;
		float: left;
		@include tablet {
			width: 66%;
		}
		&:last-of-type {
			width: 50%;
			@include tablet {
				width: 33%;
			}
		}
		p {
			font-size: 12px !important;
			font-family: $headingFont !important;
			text-transform: uppercase;
		}
		.vc_gitem-post-data-source-post_date {
			color: $blue !important;
		}
		.wpb_text_column {
			p {
				color: $grey !important;
			}
		}
		.vc_gitem-post-data-source-post_categories {
			display: inline-block !important;
			span {
				@include tablet {
					margin-left: -10px !important;
				}
				@include desktop {
					margin-left: 0 !important;
				}
				a {
					color: $blue !important;
					font-family: $headingFont !important;
					&:hover {
						color: $black !important;
					}
				}
			}
		}
		.vc_separator {
			margin-top: 6px;
			margin-bottom: 26px !important;
			@include tablet {
				margin-bottom: 48px!important;
			}
			@include netbook {
				margin-bottom: 26px!important;
			}
		}
	}
	.vc_gitem-post-data-source-post_excerpt {
		color: $blue !important;
	}
	.read-more {
		a {
			border: 0 !important;
			font-family: $headingFont !important;
			text-decoration: underline !important;
			&:hover {
				border: 0 !important;
				color: $black !important;
			}
		}
	}
}

.selected-product {
	background-color: $white;
	.vc_single_image-wrapper {
		width: 175px;
	}
	.vc_gitem-row-position-bottom {
		h3 {
			margin-top: 0;
			@include tablet {
				text-align: center !important;
			}
		}
		.product-category {
			font-family: $headingFont;
			color: $blue;
			@include tablet {
				text-align: center;
			}
		}
		.product-autor {
			font-family: $headingFont;
			color: $grey;
			@include tablet {
				text-align: center;
			}
		}
	}
}

.selected-product-hover {
	.oficyna-button {
		> * {
			min-width: 110px;
			@include netbook {
				display: block!important;
			}
			&::after {
				min-width: 110px;
			}
		}
	}
}
