#content {
	width: 100%;
	padding: 0;
}

.about-intro {
	h3 {
		margin: 0 0 1.5em 0 !important;
	}
	p {
		font-size: 1.5em;
    	line-height: 1.5;
		@include netbook {
			width: 75%;
		}
		@include desktop {
			width: 55%;
		}
	}
}
.img-text-cover {
	margin: 75% 0 0 0;
	@include tablet {
		margin: 0 0 35px 0;
	}
	div {
		p:last-of-type {
			position: absolute;
		    top: 0;
			@media (min-width: 400px) and (max-width: #{$small - 1px}) {
		      top: 15%;
		    }
			@include tablet {
				top: -155px;
				right: 0;
				width: 338px;
			}
			@include netbook {
				width: 448;
			}
			@include desktop {
				top: 0;
				right: 0;
				bottom: 30%;
				left: 0;
				width: 50%;
				height: 100px;
				margin: auto !important;
			}
		}
	}
}

.hit-module-separator {
	position: relative;
	z-index: 5;
	top: 100px;
    padding-left: 5px;
	@include netbook {
		position: absolute;
		z-index: 5;
		top: 250px;
	}
}
.hit-module {
	min-height: 430px;
	background-size: contain !important;
	.vc_gitem-row-position-top {
		@include netbook {
			top: 30% !important;
		}
	}
}
.hit-module-bottom {
	@include netbook {
		position: absolute !important;
		bottom: 12%;
		right: 30px;
	}
	.product-autor {
		margin-bottom: 15px;
		color: $blue !important;
		@include netbook {
			text-align: center;
		}
	}
	@media (max-width: 400px) {
		.oficyna-button > * {
			min-width: 195px;
			&::after {
				min-width: 195px;
			}
		}
	}
}

.hit-workshop {
	min-height: 500px;
	font-size: 12px;
	@include tablet {
		font-size: initial;
	}
	.vc_gitem-row-position-middle {
		top: 30% !important;
		@include netbook {
			top: 50% !important;
		}
	}
	p {
		color: $blue !important;
	}
}

.offer-module {
	hr {
		width: 70px !important;
		margin-left: 0 !important;
		border-top: 1px solid $blue !important;
	}
	&:hover {
		cursor: pointer;
	}
	&:hover span {
		color: $black !important;
	}
	&:hover	hr {
		border-top: 1px solid $black !important;
	}
}
.offer-module-spacer {
	@include tablet {
		padding-top: 118%;
	}
	@include netbook {
		padding-top: 75%;
	}
	@include desktop {
		padding-top: 60%;
	}
}
.offer-module-img {
	@include tablet {
		position: relative;
		top: -50px;
		left: -100px;
	}
	@include netbook {
		top: -75px;
		left: -100px;
	}
	@include desktop {
		left: -200px;
	}
	.offer-inner-module-img {
		position: absolute;
		top: -600px;
		left: 30%;
		right: 30%;
		@media (min-width: 500px) {
			left: 38%;
	    	right: 38%;
		}
		@include tablet {
			top: 0;
			left: 0;
			right: auto;
		}
	}
}

.latest-post {
	@include tablet {
		height: 550px !important;
	}
	@include netbook {
		height: 450px !important;
	}
	@include desktop {
		height: 400px !important;
	}
	.vc_gitem-row-position-top {
		z-index: 1;
	}
	.vc_gitem-row-position-middle {
		top: 30% !important;
		>div {
			padding-left: 0 !important;
		}
		h3 {
			font-family: $mainFontBold !important;
			font-weight: 400 !important;
			@include tablet {
				font-size: 22px !important;
			}
			@include netbook {
				font-size: 24px !important;
			}
		}
	}
	.vc_gitem-row-position-bottom {
		>div {
			padding-left: 0 !important;
		}
	}
	.latest-post-header {
		width: 50%;
		float: left;
		padding-left: 0 !important;
		@include tablet {
			width: 66%;
		}
		&:last-of-type {
			width: 50%;
			@include tablet {
				width: 33%;
			}
		}
		p {
			font-size: 12px !important;
			font-family: $headingFont !important;
			text-transform: uppercase;
		}
		.vc_gitem-post-data-source-post_date {
			color: $blue !important;
		}
		.wpb_text_column {
			p {
				color: $grey !important;
			}
		}
		.vc_gitem-post-data-source-post_categories {
			display: inline-block !important;
			span {
				@include tablet {
					margin-left: -10px !important;
				}
				@include desktop {
					margin-left: 0 !important;
				}
				a {
					color: $blue !important;
					font-family: $headingFont !important;
					font-weight: 400 !important;
					&:hover {
						color: $black !important;
					}
				}
			}
		}
		.vc_separator {
			margin-top: 6px;
			margin-bottom: 16px !important;
			@include tablet {
				margin-bottom: 33px!important;
			}
			@include netbook {
				margin-bottom: 16px!important;
			}
		}
	}
	.vc_gitem-post-data-source-post_excerpt {
		color: $blue !important;
	}
	.read-more {
		a {
			border: 0 !important;
			font-family: $headingFont !important;
			text-decoration: underline !important;
			&:hover {
				border: 0 !important;
				color: $black !important;
			}
		}
	}
}
.vc_grid-item-mini.vc_custom_1420541757398 {
	background-color: transparent !important;
}
.selected-product {
	background-color: transparent !important;
	.vc_gitem-col {
		padding: 0 !important;
	}
	figure {
		display: block !important;
		.vc_single_image-wrapper {
			display: block !important;
			width: 175px;
			margin: auto;
		}
	}
	.vc_gitem-row-position-bottom {
		h3 {
			margin-top: 0;
			@include tablet {
				text-align: center !important;
			}
		}
		.product-category {
			font-family: $headingFont;
			color: $blue;
			@include tablet {
				text-align: center;
			}
		}
		.product-autor {
			font-family: $headingFont;
			color: $grey;
			@include tablet {
				text-align: center;
			}
		}
	}
}

.selected-product-hover {
	.oficyna-button {
		> * {
			min-width: 110px;
			@include netbook {
				display: block!important;
			}
			&::after {
				min-width: 110px;
				@include desktop {
					min-width: 230px;
				}
			}
		}
	}
}

.vc_tta-panels-container {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			@include tablet {
				&:nth-of-type(1) {

					margin-left: -15px;
	    			margin-right: 15px;
				}
				&:nth-of-type(4) {
					padding-left: 30px;
					padding-right: 0;
				}
			}
			span {
				display: block;
				width: 8px;
				height: 8px;
				margin: auto;
				border-radius: 50%;
				border: 2px solid $blue;
				cursor: pointer;
				transition: background-color .7s;
				&:hover, &.circle-active {
					background-color: $blue;
				}
			}
		}
	}
}
.rotator-white {
	.vc_tta-panels-container {
		ul {

			li {
				span {
					border: 2px solid $white;
					transition: background-color .7s;
					&:hover, &.circle-active {
						background-color: $white;
					}
				}
			}
		}
	}
}
