#content {
	width: 100%;
	padding: 0;
}

.about-intro {
	h3 {
		margin: 0 0 1.5em 0 !important;
	}
	p {
		font-size: 1.5em;
    	line-height: 1.5;
		@include netbook {
			width: 75%;
		}
		@include desktop {
			width: 55%;
		}
	}
}
.img-text-cover {
	margin: 75% 0 0 0;
	@include tablet {
		margin: 0 0 35px 0;
	}
	div {
		p:last-of-type {
			position: absolute;
		    top: 0;
			@media (min-width: 400px) and (max-width: #{$small - 1px}) {
		      top: 15%;
		    }
			@include tablet {
				top: -155px;
				right: 0;
				width: 338px;
			}
			@include netbook {
				width: 448;
			}
			@include desktop {
				top: 0;
				right: 0;
				bottom: 30%;
				left: 0;
				width: 50%;
				height: 100px;
				margin: auto;
			}
		}
	}
}
