$small: 770px;
$medium: 992px;
$large: 1200px;

@mixin tablet {
  @media (min-width: #{$small}) and (max-width: #{$medium - 1px}) {
    @content;
  }
}

@mixin netbook {
  @media (min-width: #{$medium}) and (max-width: #{$large - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$large}) {
    @content;
  }
}
