$white: #ffffff;
$black: #000000;
$grey: #999999;

$darkgrey: #4d4d4f;

$blue: #2b9bb7;
$green: #00a89c;
// $green: #58bb89;
$turquoise: #0dada2;
$yellow: #ffcc33;
$violet: #5854ae;
$darkViolet: #38356f;
$red: #e30613;

// $lightgrey: #e0e0e0;
$lightgrey: #f1f1f1;
$lightgreyminusone: #ededee;
$lightgreyminustwo: #f7f7f7;
$lightblue: #61b9cf;
$lightred: #ec452f;

// $lightgreyplusone: #c9c9c9;
$lightgreyplusone: #dcdcdc;
